*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.piano__container {
    width: 600px;
    height: 400px;
    background-color: crimson;
    display: flex;
    border: 1px solid #000;
}

.white__Btn {
    width: 20%;
    border-left: 1px solid #000;
    height: 100%;
    background-color: #fff;
}


.relativeBtn {
    position: relative;
}

.relativeBtn .blackBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    background-color: #000;
    height: 60%;
    transform: translateX(50%);
    z-index: 3;
}

.pressed {
    background-color: darkgray !important;
}