@mixin titleSection($fnt-family) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $titleColor;

    h1 {
        font-size: 36px;
        font-family: $playFair;
        border-bottom: $titleBorder;
        padding-bottom: 24px;
        margin-bottom: 12px;
        font-weight: 500;
    }
    p {
        font-size: 21px;
        font-family: $fnt-family;
    }
}

@mixin shopName($clr) {
    font-size: 11.7px;
    letter-spacing: 0.5em;
    font-family: $playFair;
    color: $clr;
}

@mixin  centeralize {
    display: flex;
    justify-content: center;
    align-items: center;
}