@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC:ital@0;1&family=Sacramento&display=swap');
$mainBlack: #000;
$titleColor: #1d1a19;
$shopName: #444;
$titleBorder: 1px solid #49423b;
$mainWhite: #fff;
$hoverGreen: #c7d93b;
$menuBorderColor: rgba(255, 255, 255, .3);

// font-family
$playFair: 'Playfair Display SC', serif;
$alice: 'Alice', serif;
$sacramento: 'Sacramento', cursive;